body,
input,
a,
p,
ul,
li {
  margin: 0px;
  padding: 0px;
}
ul,
li {
  list-style: none;
}
body {
  background-color: #fff;
}
em {
  font-style: normal;
}
.hide {
  display: none;
}
.top {
  height: 50px;
  background-color: #ff841d;
}
.top .logo {
  float: left;
  height: 50px;
  padding: 12px;
}
.top .logo img {
  max-height: 25px;
}
.top .download {
  float: right;
  height: 50px;
  padding: 12px;
}
.top .download img {
  max-height: 25px;
}
.search {
  height: 50px;
  position: relative;
  padding-right: 70px;
  background-color: #fff;
}
.search .inputbox {
  height: 30px;
  width: 100%;
  vertical-align: top;
  border: none;
  background-color: #f1f1f1;
  position: absolute;
  top: 10px;
  left: 20px;
  border-radius: 15px;
}
.search .searchbutton {
  height: 30px;
  width: 60px;
  position: absolute;
  right: 10px;
  top: 10px;
  vertical-align: top;
  border-radius: 15px;
  border: none;
  background: red;
  color: white;
}
#haha {
  padding-left: 10px;
  height: 38px;
  background-color: #ebebeb;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ebebeb));
  border: 1px solid #ccc;
  line-height: 38px;
}
#haha a {
  text-decoration: none;
  color: #000;
}
#haha .four {
  float: right;
  height: 30px;
  border: 1px solid #ccc;
  width: 80px;
  margin-top: 5px;
  text-align: center;
  margin-right: 5px;
  line-height: 30px;
  border-radius: 5px;
  background-color: #ebebeb;
}
#xixi li {
  border-bottom: 1px solid #e7e7e7;
  padding: 10px;
}
#xixi li a {
  display: block;
  text-decoration: none;
  color: #000;
  overflow: hidden;
}
#xixi li a .pic {
  float: left;
  width: 110px;
}
#xixi li a .message {
  font-size: 14px;
}
#xixi li a .price {
  margin-top: 5px;
  font-size: 18px;
  color: #ea3900;
}
#xixi li a .comment {
  font-style: normal;
  font-size: 12px;
  color: #a1a1a1;
  margin-top: 10px;
}
.paging {
  overflow: hidden;
}
.paging ._top {
  width: 33.3%;
  float: left;
}
.paging ._top a {
  display: block;
  padding: 8px 20px;
  border: 1px solid pink;
  margin-top: 5px;
  margin-left: 20px;
  margin-bottom: 3px;
  border-radius: 8px;
  margin-right: 25px;
  color: black;
  text-decoration: none;
  background-color: #d4d4d4;
}
.paging .skip {
  width: 33.3%;
  text-align: center;
  display: inline-block;
}
.paging .skip select {
  border: 1px solid #bababa;
  font-size: 16px;
  padding: 8px 15px;
  height: 36px;
  margin-top: 5px;
}
.paging .bottom {
  width: 33.3%;
  float: right;
}
.paging .bottom a {
  display: block;
  text-align: center;
  padding: 8px 20px;
  border: 1px solid pink;
  margin-top: 5px;
  margin-right: 20px;
  margin-bottom: 3px;
  margin-left: 25px;
  border-radius: 8px;
  color: black;
  text-decoration: none;
  background-color: #d4d4d4;
}
.brand {
  height: 35px;
  background-color: #ff9000;
  padding-left: 15px;
  color: #fff;
  line-height: 35px;
}
.fenglei {
  width: 100%;
  height: 34px;
  margin-top: 30px;
  border: 1px solid #000;
  line-height: 34px;
  border-left: none;
}
.fenglei a {
  display: inline-block;
  width: 32%;
  text-align: center;
  border-left: 1px solid #000;
  text-decoration: none;
  color: #000;
}
.tail {
  height: 62px;
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 12px;
  text-align: center;
}
.tail a {
  color: red;
  text-decoration: none;
}
