body,
input,
a,
p,
ul,
li {
  margin: 0px;
  padding: 0px;
}
ul,
li {
  list-style: none;
}
body {
  background-color: #f1f1f1;
}
a {
  text-decoration: none;
}
.hide {
  display: none;
}
.top {
  height: 50px;
  background-color: #ff841d;
}
.top .logo {
  float: left;
  height: 50px;
  padding: 12px;
}
.top .logo img {
  max-height: 25px;
}
.top .download {
  float: right;
  height: 50px;
  padding: 12px;
}
.top .download img {
  max-height: 25px;
}
.search {
  height: 50px;
  position: relative;
  padding-right: 70px;
  background-color: #fff;
}
.search .inputbox {
  height: 30px;
  width: 100%;
  vertical-align: top;
  border: none;
  background-color: #f1f1f1;
  position: absolute;
  top: 10px;
  left: 20px;
  border-radius: 15px;
}
.search .searchbutton {
  height: 30px;
  width: 60px;
  position: absolute;
  right: 10px;
  top: 10px;
  vertical-align: top;
  border-radius: 15px;
  border: none;
  background: red;
  color: white;
}
.brand {
  height: 35px;
  background-color: #ff9000;
  padding-left: 15px;
  color: #fff;
  line-height: 35px;
}
.fenglei {
  width: 100%;
  height: 34px;
  margin-top: 30px;
  border: 1px solid #000;
  line-height: 34px;
  border-left: none;
}
.fenglei a {
  display: inline-block;
  width: 32%;
  text-align: center;
  border-left: 1px solid #000;
  text-decoration: none;
  color: #000;
}
.tail {
  height: 62px;
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 12px;
  text-align: center;
}
.tail a {
  color: red;
  text-decoration: none;
}
